.float-chat {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#4267B2;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	font-size:30px;
	z-index:100;
	display: block;
	cursor: pointer;
}

.float-chat:hover, .float-chat:active {
	color:#FFF;
}

.my-float-chat {
	color:#FFF;
	margin-top:16px;
}

.alert {
	position: absolute !important;
}